body {
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #e9e9e9;
  border-bottom: 1px solid #ccc;
}

.message {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.self {
  background-color: #cfe9ff;
  align-self: flex-end;
}

.default {
  background-color: #f0f0f0;
}

.admin {
  background-color: #f8d7da;
}

#messageInputContainer {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
}

#messageInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}

.popup button {
  margin-top: 10px;
}
